* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: yellow;
}

.background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("https://images.unsplash.com/photo-1620841713108-18ad2b52d15c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");
	background-size: cover;
	z-index: -1;
}

.logo-icon {
  font-size: 7rem;
  color: yellow
}

ul, li,
nav {
	list-style: none;
}

/* Links */

a {
	text-decoration: none;
	opacity: 0.75;
	color: #fff;
}

a:hover {
	opacity: 1;
}

a.btn {
  width: 200px;
  height: 40px;
  border-radius: 40px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	background-color: #1CAC78;
	opacity: 1;
	transition: all 400ms;
}

a.btn:hover {
	background-color: #ACE1AF;
}

/*Buttons*/

button.searchButton {
  width: 200px;
  height: 40px;
  border-radius: 40px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	background-color: #1CAC78;
	opacity: 1;
	transition: all 400ms;
}

button.searchButton:hover {
	background-color: #ACE1AF;
}

/*Header Styles*/

.header {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 100px 0;
	animation: 1s fadein 0.5s forwards;
	opacity: 0;
	color: #fff;
	z-index: 2;
}


@keyframes fadein {
	100% {
		opacity: 1;
	}
}

header nav {
	display: flex;
	margin-right: -15px;
}

header nav li {
	margin: 0 15px;
}

@media (max-width: 800px) {
	header {
		padding: 20px 50px;
		flex-direction: column;
	}

	header h2 {
		margin-bottom: 15px;
	}
}

/*Hero Styles*/

.hero {
	position: flex;
	justify-content: center;
	text-align: center;
  margin: 20px;
  margin-top: 40px;
	min-height: 80vh;
	color: #fff;
}

.hero h1 {
	font: 150px "Amatic SC", sans-serif;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
	margin-bottom: 15px;
  margin-top: 25px;
}

.hero h2 {
	font: 72px "Amatic SC", sans-serif;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
	margin-bottom: 15px;
}

.hero h3 {
	font: 28px "Raleway", sans-serif;
	font-weight: 300;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
	margin-bottom: 20px;
}

.hero h4 {
	font: 25px "Raleway", sans-serif;
	font-weight: 300;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
	margin-bottom: 40px;
}

.hero a.btn {
	padding: 20px 46px;
}

.hero-content-area {
	opacity: 0;
	margin-top: 100px;
	animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
	100% {
		opacity: 1;
		margin: 0;
	}
}

@media (max-width: 800px) {
	.hero {
		min-height: 600px;
	}

	.hero h1 {
		font-size: 48px;
	}

	.hero h3 {
		font-size: 24px;
	}

	.hero a.btn {
		padding: 15px 40px;
	}
}


.map {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.location-icon {
  font-size: 2rem;
  color: yellow
}

.association-info {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 400px;
  min-height: 200px;
  padding: 20px;
  background-color: rgba(0,0,0,0.6);
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
}

.association-info ul {
  list-style-type: none;
  padding: 0;
}

.phone-icon {
  font-size: 2rem;
  color: #1CAC78;
}

.heart-icon {
  font-size: 3rem;
  color: #1CAC78;
}


.search-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  background: yellow
}

.filterBox {
  position: relative;
  display:inline-flex;
  margin: 10px;
  top: 50%;
  left: 15%;
  width: 250px;
  height: 40px;
  border-radius: 40px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translate(-50%, -50%);
  background: #fff;
  transition: all 0.3s ease;
  

  &.focus {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  }
}

.filterTitle {
  position: absolute;
  top: -10px;
  left: -5px;
  font-weight: bold;
  background: yellow
}

.nameForm {
  position: absolute;
  top: 10px;
  left: 38px;
  font-size: 14px;
  background: none;
  color: #5a6674;
  width: 195px;
  height: 20px;
  border: none;
  appearance: none;
  outline: none;

  &::-webkit-search-cancel-button {
    appearance: none;
  }
}

.filterSelect {
  position: absolute;
  top: 10px;
  left: 38px;
  font-size: 14px;
  background: none;
  color: #5a6674;
  width: 195px;
  height: 20px;
  border: none;
  appearance: none;
  outline: none;

  &::-webkit-search-cancel-button {
    appearance: none;
  }
}

.availableDate {
  position: absolute;
  top: 10px;
  left: 38px;
  font-size: 14px;
  background: none;
  color: #5a6674;
  width: 195px;
  height: 20px;
  border: none;
  appearance: none;
  outline: none;

  &::-webkit-search-cancel-button {
    appearance: none;
  }
}

.searchfilterBox {
  position: relative;
  display:inline-flex;
  margin: 10px;
  top: 50%;
  left: 15%;
  width: 200px;
  height: 40px;
  border-radius: 40px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translate(-50%, -50%);
  background: yellow;
  transition: all 0.3s ease;

  &.focus {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  }
} 

.searchButton {
  position: absolute;
  font-size: 14px;
  background: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
  width: 195px;
  height: 20px;
  border: none;
  appearance: none;
  outline: none;

  &::-webkit-search-cancel-button {
    appearance: none;
  }
}


/* CONTACT ME                               */

.contactme {
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1544918877-460635b6d13e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1176&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 3%;
}
.contactOverlay {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(218, 233, 14, 0.418);
}
.form {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
form {
  width: 60%;
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: white;
  overflow: hidden;
  border-radius: 40px;
}
form button {
  width: 190px;
  height: 55px;
  border: 0;
  border-radius: 40px;
  background-color: #1CAC78;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
  color: white;
  font-weight: bold;
  margin-top: 20%;
}
form button:hover {
  background-color: black
}
.formWord {
  width: 40%;
  padding: 4%;
}
.formWord h2 {
  font-size: 23px;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 10%;
}
.formWord input {
  width: 100%;
  height: 30px;
  margin-bottom: 10%;
  border: 0;
  margin-top: 2%;
  padding-left: 3%;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 48px 0px rgb(218, 218, 218);
  box-shadow: 0px 0px 48px 0px rgb(218, 218, 218);
  border-radius: 20px;
}
.formWord textarea {
  width: 100%;
  margin-bottom: 10%;
  border: 0;
  margin-top: 2%;
  height: 80px;
  color: black;
  -webkit-box-shadow: 0px 0px 48px 0px rgb(218, 218, 218);
  box-shadow: 0px 0px 48px 0px rgb(218, 218, 218);
  padding-left: 3%;
  border-radius: 20px;
}

/* CONTACT ME END                                */



